# ROS 2 build and install directories
/build/
/install/
/log/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Webots temporary files
*.wbt~
*.wrl~
*.tmp

# ROS 2 package-specific files
.colcon/
.ros/

# IDE-specific files
.vscode/
.idea/
*.swp


